@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/*font-family: 'Yellowtail', cursive;*/


@font-face {
    font-family: "Letras";
    src: url("Font/freestyle-script.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Display";
    src: url("Font/digital-7.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Outra";
    src: url("Font/DS-DIGI.TTF");
    font-weight: normal;
}

:root{
    --font-padrão: "Letras", cursive;
    --font-resultado: "Display", cursive;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(170deg, rgb(255, 220, 137) 0%, rgba(255,197,64,1) 40%, rgb(230, 178, 58) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.forma-calculadora {
    width: 300px;
    max-height: 520px;
    border-radius: 10px 10px 25px 25px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffc540;
    background: linear-gradient(170deg, rgb(255, 220, 137) 0%, rgba(255,197,64,1) 40%, rgb(230, 178, 58) 100%);
    margin-top: 70px;
    border: 5px double #f8c54e;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.15);
}

.forma-resultado{
    width: 300px;
    height: 230px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/Este_3.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 25px;
}

#reservatorio{
    height: 30px;
    width: 170px;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    text-align: right;
    display: none;
}

#resultado{
    height: 30px;
    width: 170px;
    background-color: #888b8a;
    font-family: var(--font-resultado);
    text-align: right;
    font-size: 28px;
    border: 6px inset rgb(65, 65, 65);
    outline: 13px inset #ffd573;
    display: relative;
    border-radius: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.painel-solar{
    height: 30px;
    width: 100px;
    background-color: #514645;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: left;
    margin-left: 105px;
    margin-top: 45px;
    border: 2.5px inset rgb(109, 109, 109);
    border-radius: 3px;
}

#painel-solar_quadrado{
    height: 30px;
    width: 2px;
    background-color: #534d49;
    border-style: none;
    align-items: center;
}

.display-button{
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(90, 129, 51, 0);
}

table{
    width: 300px;
    height: 300px;
    display: table;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-top: 0px;
    margin-bottom: 40px;
    margin-top: -20px;
    position: absolute;
}

.botao{
    width: 31px;
    height: 31px;
    background-image: url(img/btnM-01_2-01.png);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    text-align:start;
    position:relative;
    justify-content: flex-start;
    align-items: flex-end;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

.botao:hover{
    cursor: pointer;
}

#conteudo{
    font-size: 22px;
    position: absolute;
    margin-bottom: 24px;
    margin-left: -10px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#conteudo1{
    font-size: 20px;
    position: absolute;
    margin-bottom: 19px;
    margin-left: -10px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#conteudonumero{
    font-size: 29px;
    position: absolute;
    margin-bottom: 19px;
    margin-left: -5px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#conteudosimbolo{
    font-size: 33px;
    position: absolute;
    margin-bottom: 17px;
    margin-left: -5px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#conteudoC{
    font-size: 23px;
    position: absolute;
    margin-bottom: 22px;
    margin-left: -5px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#conteudo2{
    font-size: 21px;
    position: absolute;
    margin-bottom: 22px;
    margin-left: -10px;
    color: #5e4543;
    font-family: var(--font-padrão);
    font-weight: bold;
}

#btn-amarelo{
    background-color: #ffc540;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    border: none;  
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgba(255,254,251,1) 0%, rgba(255,254,251,1) 10%, rgba(255,197,64,1) 36%, rgba(211,165,58,1) 55%, rgba(191,136,6,1) 100%);  
    background-size: cover;            
}

#btn-amarelo:hover{
    background-color: #ffc540;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    border: none;  
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgba(255,197,64,1) 0%, rgba(255,197,64,1) 10%, rgba(255,197,64,1) 36%, rgba(211,165,58,1) 55%, rgb(138, 98, 5) 100%);  
    background-size: cover;            
}

#btn-vermelho{
    border: none;  
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background:url(img/btnM-01_2-01.png), linear-gradient(140deg, rgba(255,254,251,1) 0%, rgba(255,254,251,1) 0%, rgba(225,25,49,1) 36%, rgba(181,24,43,1) 55%, rgba(116,9,22,1) 100%); 
    background-size:cover;                  
}

#btn-vermelho:hover{
    border: none;  
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background:url(img/btnM-01_2-01.png), linear-gradient(140deg, rgba(255,254,251,1) 0%, rgb(143, 22, 36) 0%, rgb(143, 22, 36) 36%, rgb(112, 14, 24) 55%, rgb(31, 1, 4) 100%); 
    background-size:cover;                  
}

#btn-laranja{
    border: none;   
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgba(255,254,251,1) 0%, rgba(238,100,3,1) 36%, rgba(175,74,4,1) 55%, rgba(99,42,2,1) 100%); 
    background-size:cover;              
}

#btn-laranja:hover{
    border: none;   
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgb(165, 71, 3) 0%, rgb(165, 71, 3) 36%, rgb(107, 46, 2) 55%, rgb(51, 22, 1) 100%); 
    background-size:cover;              
}

#btn-verde{
    border: none; 
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png), linear-gradient(140deg, rgba(255,254,251,1) 0%, rgba(2,133,35,1) 36%, rgb(2, 104, 27) 55%, rgb(5, 68, 22) 100%); 
    background-size:cover;                   
}

#btn-verde:hover{
    border: none; 
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png), linear-gradient(140deg, rgb(1, 92, 24) 0%, rgb(1, 92, 24) 36%, rgb(1, 48, 12) 55%, rgba(0,38,10,1) 100%); 
    background-size:cover;                   
}


#btn-castanho{
    background-color: #391b06;
    border: none; 
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgba(255,254,251,1) 0%, rgb(100, 48, 11) 36%, rgba(57,27,6,1) 55%, rgb(114, 51, 9) 100%);  
    background-size:cover;                      
}

#btn-castanho:hover{
    background-color: #391b06;
    border: none; 
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    background: url(img/btnM-01_2-01.png),  linear-gradient(140deg, rgba(57,27,6,1) 0%, rgb(43, 20, 4) 36%, rgba(34,16,4,1) 55%, rgba(27,12,2,1) 100%);  
    background-size:cover;                      
}

footer{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#by{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 149, 42);
    font-weight: normal;
}

#by:hover{
    color: rgb(134, 100, 19);
}


@media (max-width: 400px) {
    #resultado{
        color: rgb(241, 61, 15);
        font-family: "Outra";
    }
}